$cell-size: 100px;
$cell-bg: #eee;
$cell-animation-color: #ffbfcb;
$gap: 1px;
$font-family: Arial, Helvetica, sans-serif;
$border-size: 1px;
$calendar-width: calc(7 * #{$cell-size} + 6 * #{$gap});
$week: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);
